.main {
  display: flex;
  flex-direction: column;
}
.recipe {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 10%;
  display: flex;
  flex-direction: column;
}
.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header span {
  margin-left: 5px;
}
.sidebar-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
